
{% extends 'base-layout.html' %}

{% block header %}
 
<div class="col-4">
  <h1>{% block title %} ATN Company{% endblock %}</h1>
</div>

{% endblock %}

{% block content %}
<hr>
    <div class="container">

<p>Specializes in serving high-class toys of EDUCATION and helps to DEVELOP CREATIVE FOR children</p>

<p>All products are passed an inspection according to international standards, evaluated the QUALITY and absolute SAFETY</p>    

<br>
<p>HOTLINE (09:00 - 20:00)</p>
<p>From Monday - Saturday</p>
<p>Call: 190002030</p>
<p>Email: atncompany@gmail.com</p>
    
</div>


{% endblock %}